@import "variables.css";

/* special headline */

h5 {
    font-size: 1rem;
    color: var(--blue);
    padding: 4px;
    margin-top: 6px;
}

/* table header */

body .ui-datatable thead th {
    color: var(--red);
}