/* styling for login, signup and account page */

@import "variables.css";

.login-page, .signup-page {
    background-color: #eee;
    margin: auto;
    padding: 10px;
}

.username, .mail, .password {
    padding: 10px;
}

.login-page .ui-outputlabel,
.signup-page .ui-outputlabel,
.account-page .ui-outputlabel {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--blue);
    margin-bottom: 4px;
    display: block;
}

/* all buttons */

button.ui-button {
    background-color: var(--blue);
    border: 0;
    color: white;
}

button.ui-button:hover {
    background-color: var(--red);
    border: 0;
    color: white;
}

/* buttons for login, signup and account */

.login-page button.ui-button,
.signup-page button.ui-button,
.account-page button.ui-button {
    margin: 4px 10px;
}

/* account tabs */

body .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-state-active a {
    color: var(--red);
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav li a {
    color: var(--blue);
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav li a:hover {
    color: var(--red);
}

body .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--blue);
}

/* account page */

.account-page .account-info .ui-outputlabel {
    font-size: 1.2rem;
    font-weight: normal;
    color: #495057;
    margin-bottom: 10px;
    display: block;
}